.work-pieces-parent {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 5%;
	margin: 5%;
	margin-bottom: 10%;
	background: $white;
	color: $darkgray;
	-webkit-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
	max-width: 1000px;

	@media screen and (min-width: 1000px) {
		margin: 5% auto;
	}

	@media screen and (min-width: $md-break) {
		flex-direction: row;
		justify-content: space-between;
	}
}

.work-pieces-single-parent {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 5%;
	margin: 5%;
	margin-bottom: 10%;
	background: $white;
	color: $darkgray;
	-webkit-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
	max-width: 1000px;

	@media screen and (min-width: 1000px) {
		margin: 5% auto;
	}

	@media screen and (min-width: $md-break) {
		flex-direction: row;
		justify-content: center;
	}
}

.work-pieces {
	margin-bottom: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 2%;

	& div {
		background-repeat: no-repeat;
		width: 40vh;
		height: 40vh;
		border-radius: 100%;
		background-color: $lightgray;
		background-size: contain;
		background-position: center;
		-webkit-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 7px 5px 5px 0px rgba(0,0,0,0.75);
		margin: 2%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}


}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.work-pieces a {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	position: relative;

	&:hover p {
		animation: bounce 1s;
	}

	@media screen and (min-width: $sm-break) {
		flex-direction: row;
		justify-content: center;
	}

	& p{
		position: absolute;
		display: inline;
		font-size: 2rem;
		color: $white;
		background: orange;
		padding: 2% 3%;
		text-transform: uppercase;
		max-width: 300px;
		width: 90%;
		z-index: 50;

		&:before {
			position: absolute;
			content: '';
			display: block;
			height: 100%;
			left: 0;
			right: 0;
			top: 0;
			background: orange;
			transform: skewY(-2deg);
			transform-origin: 0 100%;
			z-index: -1;

			@media screen and (min-width: $lg-break) {
			    transform: skewY(-1.3deg) translateY(3%);
			}
		}

		&:hover {
			text-decoration: none;
		}
	}
}

.work-pieces-single-text {
	margin-top: 10%;
	font-size: 2.5rem;
	color: $darkgray;
}


