/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/



/* 1. Main Layout ================================= */

@import "variables";
@import "header";

* {
	box-sizing: border-box;
}

body {
	background: $white;
}

// .background-image{
// 	background-color: #24AE9B;
// 	opacity: .7;
// 	background-repeat: no-repeat;
// 	width: 100%;
// 	height: 100%;
// 	background-position: center;
// 	background-size: cover;
// 	position: absolute;
// 	background-blend-mode: luminosity;
// }

.hero {

	h1 {
		text-align: center;
		font-size: 2.5rem;
		margin: 1% 2.5%;
		padding: 50px 0;
		border-top: 2px solid $lightgray;
		border-bottom: 2px solid $lightgray;
		line-height: 1.5;
		letter-spacing: 1px;
		color: $darkgray;

	}

	.cat {

	}
}

.skillset {
	display: flex;
	flex-direction: column;
	margin: 5%;

	@media screen and (min-width: $md-break) {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 5% 0%;
		max-width: 1100px;
		margin: 5% auto;
	}

	.skill {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		background: $lightgray;
		border-radius: 10px;
		padding: 5vh;
		margin-bottom: 5%;
		transition: all .25s ease-in-out;
		box-shadow: 0 12px 32px rgba(0,0,0,0.25);

		&:hover {
			
		}

		@media screen and (min-width: $md-break) {
		margin: 2.5%;
	}

		.skill-icon {
			background-image: url(../../assets/img/wp-icon.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			width: 70%;
			height: 15vh;
			margin-bottom: 5%;
		}

		.skill-title {
			font-size: 2.5rem;
			color: $green;
			margin-bottom: 5%;
		}

		.skill-description {
			color: $darkgray;
			margin-bottom: 10%;
		}

		.skill-submit {
			border-radius: 10px;
			color: $white;
			font-size: 2rem;
			background: $green;
			padding: 3% 4%;
			//position: absolute;
			// right: -5%;
			// top: 85%;

			display: flex;
			flex-direction: row;
			align-items: center;


			& i {
				padding-left: 10px;
			}
		}
	}
}












