/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/
/* 1. Main Layout ================================= */
@font-face {
  font-family: 'WorkSans-Thin';
  src: url("../fonts/WorkSans-Thin.ttf") format("truetype"); }

@font-face {
  font-family: 'WorkSans-Regular';
  src: url("../fonts/WorkSans-Regular.ttf") format("truetype"); }

.navigation {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 15px 0;
  position: relative;
  z-index: 10; }
  .navigation:after {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transform: skewY(-2deg) translateY(20%);
    transform-origin: 100%; }
    @media screen and (min-width: 1000px) {
      .navigation:after {
        transform: skewY(-1.3deg) translateY(30%); } }
  .navigation li {
    list-style: none;
    margin-left: 50px;
    text-transform: uppercase;
    font-family: 'WorkSans-Regular';
    font-size: 2rem;
    z-index: 5; }
    .navigation li a {
      text-decoration: none;
      color: #525D67; }
      .navigation li a:hover {
        color: orange; }
  .navigation li:first-of-type {
    margin-left: 0; }
  .navigation li > a {
    position: relative;
    color: orange;
    text-decoration: none; }
  .navigation li > a:hover {
    color: #525D67; }
  .navigation li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    margin-bottom: -5px;
    color: #525D67;
    background-color: orange;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
  .navigation li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1); }

.work-pieces-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  margin: 5%;
  margin-bottom: 10%;
  background: #fff;
  color: #525D67;
  -webkit-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  max-width: 1000px; }
  @media screen and (min-width: 1000px) {
    .work-pieces-parent {
      margin: 5% auto; } }
  @media screen and (min-width: 768px) {
    .work-pieces-parent {
      flex-direction: row;
      justify-content: space-between; } }

.work-pieces-single-parent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5%;
  margin: 5%;
  margin-bottom: 10%;
  background: #fff;
  color: #525D67;
  -webkit-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  max-width: 1000px; }
  @media screen and (min-width: 1000px) {
    .work-pieces-single-parent {
      margin: 5% auto; } }
  @media screen and (min-width: 768px) {
    .work-pieces-single-parent {
      flex-direction: row;
      justify-content: center; } }

.work-pieces {
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2%; }
  .work-pieces div {
    background-repeat: no-repeat;
    width: 40vh;
    height: 40vh;
    border-radius: 100%;
    background-color: #F5F6F7;
    background-size: contain;
    background-position: center;
    -webkit-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }

.work-pieces a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  position: relative; }
  .work-pieces a:hover p {
    animation: bounce 1s; }
  @media screen and (min-width: 500px) {
    .work-pieces a {
      flex-direction: row;
      justify-content: center; } }
  .work-pieces a p {
    position: absolute;
    display: inline;
    font-size: 2rem;
    color: #fff;
    background: orange;
    padding: 2% 3%;
    text-transform: uppercase;
    max-width: 300px;
    width: 90%;
    z-index: 50; }
    .work-pieces a p:before {
      position: absolute;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      background: orange;
      transform: skewY(-2deg);
      transform-origin: 0 100%;
      z-index: -1; }
      @media screen and (min-width: 1000px) {
        .work-pieces a p:before {
          transform: skewY(-1.3deg) translateY(3%); } }
    .work-pieces a p:hover {
      text-decoration: none; }

.work-pieces-single-text {
  margin-top: 10%;
  font-size: 2.5rem;
  color: #525D67; }

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  padding-bottom: 25%;
  margin: 5%;
  margin-bottom: 10%;
  background: #fff;
  color: #525D67;
  -webkit-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  max-width: 1000px; }
  .about-section p {
    max-width: 600px;
    font-size: 2rem; }
  .about-section h3 {
    color: orange; }
  .about-section h2 {
    margin-top: 10%;
    margin-bottom: 5%; }
  @media screen and (min-width: 1000px) {
    .about-section {
      padding-bottom: 15%; } }
  @media screen and (min-width: 1000px) {
    .about-section {
      margin: 5% auto; } }

.about__headshot {
  background-repeat: no-repeat;
  width: 40vh;
  height: 40vh;
  border-radius: 100%;
  background-size: cover;
  background-position-y: 25%;
  filter: contrast(70%);
  -webkit-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75); }

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }

.things-i-like {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%; }
  .things-i-like .cheese,
  .things-i-like .cat,
  .things-i-like .music,
  .things-i-like .harribo {
    background-repeat: no-repeat;
    width: 40vh;
    height: 40vh;
    border-radius: 100%;
    background-size: cover;
    background-position-y: 25%;
    filter: contrast(70%);
    -webkit-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative; }
    .things-i-like .cheese:hover span,
    .things-i-like .cat:hover span,
    .things-i-like .music:hover span,
    .things-i-like .harribo:hover span {
      animation: bounce 1s; }
    .things-i-like .cheese span,
    .things-i-like .cat span,
    .things-i-like .music span,
    .things-i-like .harribo span {
      position: absolute;
      display: inline;
      font-size: 2rem;
      color: #fff;
      background: orange;
      padding: 2% 3%;
      text-transform: uppercase;
      text-align: center;
      max-width: 300px;
      width: 90%;
      z-index: 50; }
      .things-i-like .cheese span:before,
      .things-i-like .cat span:before,
      .things-i-like .music span:before,
      .things-i-like .harribo span:before {
        position: absolute;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        right: 0;
        top: 0;
        background: orange;
        transform: skewY(-2deg);
        transform-origin: 0 100%;
        z-index: -1; }
        @media screen and (min-width: 1000px) {
          .things-i-like .cheese span:before,
          .things-i-like .cat span:before,
          .things-i-like .music span:before,
          .things-i-like .harribo span:before {
            transform: skewY(-1.3deg) translateY(3%); } }
  @media screen and (min-width: 768px) {
    .things-i-like {
      flex-direction: row;
      justify-content: space-between; } }

footer {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 15px 0;
  position: relative; }
  footer:before {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    transform: skewY(-2deg);
    transform-origin: 0 100%; }
    @media screen and (min-width: 1000px) {
      footer:before {
        transform: skewY(-1.3deg) translateY(3%); } }
  footer .sitemap {
    display: flex;
    justify-content: center; }
    footer .sitemap a {
      list-style: none;
      margin-left: 50px;
      text-transform: uppercase;
      font-family: 'WorkSans-Regular';
      font-size: 2rem;
      z-index: 5;
      text-decoration: none;
      color: #525D67; }
      footer .sitemap a:hover {
        color: orange; }
      footer .sitemap a:first-of-type {
        margin-left: 0; }
    footer .sitemap i {
      color: red; }

* {
  box-sizing: border-box; }

body {
  background: #525D67;
  color: #F5F6F7;
  width: 100%;
  height: 100%;
  font-family: 'WorkSans-Regular'; }

.title {
  margin: 10% 5%;
  background: #fff;
  padding: 2%;
  color: orange;
  text-transform: uppercase;
  position: relative;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .title:after {
    position: absolute;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    transform: skewY(-2deg);
    transform-origin: 100%;
    z-index: -1; }
  @media screen and (min-width: 768px) {
    .title {
      margin: 5% 10%; } }
  @media screen and (min-width: 1000px) {
    .title {
      margin: 5% auto; } }

.background-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 90vh;
  border-bottom: 2px solid #fff;
  position: relative;
  z-index: -1; }
  .background-image h1 {
    font-family: 'WorkSans-Thin';
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media screen and (min-width: 1000px) {
      .background-image h1 {
        top: 35%;
        left: 80%; } }
  @media screen and (min-width: 768px) {
    .background-image {
      background-position: center 10%; } }

.wpforms-title {
  color: #525D67; }

.wpforms-form {
  background: #fff;
  padding: 5%;
  margin: 5%;
  -webkit-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 5px 5px 0px rgba(0, 0, 0, 0.75);
  max-width: 1000px; }
  @media screen and (min-width: 1000px) {
    .wpforms-form {
      margin: 5% auto; } }

.wpforms-form label {
  color: #525D67; }

/** WPFORMS Input Textarea **/
.wpforms-form input, .wpforms-form textarea {
  background-color: #F5F6F7 !important; }

/** WPFORMS BUTTON COLOR **/
.wpforms-form button {
  background-color: orange !important; }

/** WPFORMS SUBMIT BUTTON **/
button.wpforms-submit {
  color: #FFFFFF !important;
  background-color: #f2a308 !important; }

/** WPFORMS SUBMIT BUTTON Hover **/
button.wpforms-submit:hover {
  color: orange !important;
  background-color: white !important; }

.back-button {
  display: inline;
  z-index: 50px;
  color: #525D67;
  font-size: 2rem;
  text-align: right; }
  .back-button:hover {
    color: orange; }

/*# sourceMappingURL=main.css.map */
